.App{
    display: flex;
}

.nav-menu-left{
    width: 20vw;
    height: 100vh;
}

.search-menu-top{
    width: 100%;
    height: 10vh;
}

.right-wrapper{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
}

.menu-category-listing{
    height: 30vh;
}

.restaurant-listing{
    height: 60vh;
    margin-top: 5vh;
    overflow-y: auto;
}